:root {
    --bg-main: #0f0f0f;
    --bg-panel: #111111;
    --bg-side: #1a1a1a;
    --bg-element: #2a2a2a;

    --text-main: #ffffff;
    --text-muted: #aaaaaa;

    --border-color: rgba(255,255,255,0.08);
}

.light-theme {
    --bg-main: #f4f4f4;
    --bg-panel: #ffffff;
    --bg-side: #f0f0f0;
    --bg-element: #e6e6e6;

    --text-main: #000000;
    --text-muted: #555555;

    --border-color: rgba(0,0,0,0.1);
}

/* Cor de fundo, configurações de texto base */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

    color: var(--text-main);
    background-color: var(--bg-main);

    line-height: 1.6;
}

/* Cabeçalho da página*/
header {
    background-color: var(--bg-panel);
    padding: 80px;
    text-align: center;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5rem;
    color: var(--text-main);
    margin: 0;
}

/* Icon de Menu */
.menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    cursor: pointer;
    z-index: 10;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--text-muted);
    margin: 6px 0;
    border-radius: 2px;
}

    /* SIDEBAR */
.side-menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 260px;
    height: 100vh;

    background-color: var(--bg-side);
    border-right: 1px solid var(--border-color);

    padding: 14px;
    overflow-y: auto;

    transform: translateX(-100%);
    transition: transform 0.25s ease;
    z-index: 30;
}

.side-menu.open {
    transform: translateX(0);
}


/* HEADER DO MENU */
.side-menu-header {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 18px;
}


/* BOTÃO FECHAR */
.close-button {
    align-self: flex-end;
    background: none;
    border: none;
    color: var(--text-muted);
    font-size: 20px;
    cursor: pointer;
}

.close-button:hover {
    color: var(--text-main);
}


/* NOVO CHAT */
.novochat-button {
    background-color: var(--bg-element);
    border: 1px solid var(--border-color);
    color: var(--text-main);

    padding: 10px 12px;
    border-radius: 8px;

    font-size: 0.95rem;
    cursor: pointer;
    text-align: left;
}

.novochat-button:hover {
    filter: brightness(1.15);
}


.app-header {
    position: relative;
    height: 100px;
    padding: 0 16px;

    display: flex;
    align-items: center;

    background: var(--bg-panel);
    border-bottom: 1px solid var(--border-color);
}


/* TEXTO MESMO AO CENTRO */
.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-size: 2.35rem;
    font-weight: 600;
    color: var(--text-main);
    letter-spacing: 0.4px;
}


/* LOGO À DIREITA */
.header-logo {
    margin-left: auto;
    height: 80px;
    width: auto;
    opacity: 0.9;
}



